#header
{
height:80vh;
background-size: cover;
background-position: center;
}


body{
background-image:url(artgallerywallpaper.jpg);
margin: 0 10px;
}

#row1{
height:140px;
border: black 1px;
background-image: linear-gradient(to right, black , grey);
}

#img1{
margin-left:30px;
border:#FC6A03 5px solid;
   
}

#p1{
position:absolute;
color:#FC6A03;
right:15px;
top:40px;
font-weight:bolder;
text-shadow: 2px 3px black;
font-family: 'Advent Pro', Georgia;
}



@media (max-width: 576px) {
    #p1 { font-size: 2rem; }
}
@media (min-width: 576px) {
    #p1 { font-size: 2rem; }
}
@media (min-width: 768px) {
    #p1 { font-size: 2.5rem; }
}
@media (min-width: 992px) {
    #p1 { font-size: 2.5rem; }
}
@media (min-width: 1200px) {
    #p1 { font-size: 2.5rem; }
}

#p2{
position:absolute;
top:100px;
font-style:italic;
color:white;
margin:0;
padding:0;
right:15px;
}

#p3{
position:absolute;
color:#BEBEBE;
font-weight:bolder;
padding:25px;
font-family: 'Advent Pro', castellar;
}

@media (max-width: 576px) {
    #p3 { font-size: 2rem;color:black;}
}
@media (min-width: 576px) {
    #p3 { font-size: 2rem;color:black; }
}
@media (min-width: 768px) {
    #p3 { font-size:2rem;color:black; }
}
@media (min-width: 992px) {
    #p3 { font-size: 3.75rem; color:#BEBEBE;}
}
@media (min-width: 1200px) {
    #p3 { font-size: 3.75rem; color:#BEBEBE;}
}
/*----------------payment-------------------------*/
.payment{
  background: #f8f8f8;
  max-width: 360px;
  margin: 80px auto;
  height: auto;
  padding: 35px;
  padding-top: 70px;
  border-radius: 5px;
  position: relative;
}

.payment h2{
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #0d3c61;
}

.form .label{
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.input{
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.card-grp{
  display: flex;
  justify-content: space-between;
}

.card-item{
  width: 48%;
}

.space{
  margin-bottom: 20px;
}

.icon-relative{
  position: relative;
}

.icon-relative .fas,
.icon-relative .far{
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.btn{
  margin-top: 40px;
  background: #000;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}


.payment-logo{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-align: center;
  line-height: 85px;
}

.payment-logo:before{
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #000;
  border-radius: 50%;
}

.payment-logo p{
  position: relative;
  color: #f8f8f8;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 58px;
}
#footer
{
    margin-top:50px;
    background-color: #efefef;
    color:black;
    
}
.footer-logo
{
    width:200px;
    margin-top: 50px;
    margin-left:0;
    margin-bottom: 50px;
    height:200px;
}
#footer h1
{
    font-size:15px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 25px;
}
#footer p
{
    font-size:15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

#footer .city
{
    margin-left:37px;

}
#footer .fa
{
    padding-right: 20px;
    font-size: 15px;
    
}


@media screen and (max-width: 420px){
  .card-grp{
    flex-direction: column;
  }
  .card-item{
    width: 100%;
    margin-bottom: 20px;
  }
  .btn{
    margin-top: 20px;
  }
}