{
	padding:0;
	margin:0;
}
#header
{
	height:80vh;
	background-size: cover;
	background-position: center;
}


body{
	background-image:url(newwallpaper.jpg);
	
}

#row1{
	height:140px;
	border: black 1px;
	background-image: linear-gradient(to right, black , grey);
	padding:0;
}

#img1{
	margin-left:15px;
	border:#FC6A03 5px solid;
    
}

#p1{
	position:absolute;
	color:#FC6A03;
	right:20px;
	top:65px;
	font-weight:bolder;
	text-shadow: 2px 3px black;
	font-family: 'Advent Pro', Georgia !important;
}
@media (max-width: 576px) {
    #p1 { font-size: 1.5rem;top:80px; }
}
@media (min-width: 576px) {
    #p1 { font-size: 2rem;top:70px; }
}
@media (min-width: 768px) {
    #p1 { font-size: 2.5rem; }
}
@media (min-width: 992px) {
    #p1 { font-size: 3rem;top:55px; }
}
@media (min-width: 1200px) {
    #p1 { font-size: 3rem;top:55px; }
}

#p2{
	position:absolute;
	font-style:italic;
	color:white;
	margin:0;
	padding:0;
	right:20px;
}
@media (max-width: 576px) {
    #p2 { font-size: 0.8rem;top:110px; }
}
@media (min-width: 576px) {
    #p2 { font-size: 0.8rem; top:110px;}
}
@media (min-width: 768px) {
    #p2 { font-size: 1rem; top:115px;}
}
@media (min-width: 992px) {
    #p2 { font-size: 1rem;top:115px; }
}
@media (min-width: 1200px) {
    #p2 { font-size: 1rem;top:115px; }
}

#p3{
	position:absolute;
	top:25px;
	left:175px;
	color:#BEBEBE;
	font-weight:bolder;
	font-family: 'Advent Pro', castellar !important;
}

@media (max-width: 576px) {
    #p3 { font-size: 2rem;}
}
@media (min-width: 576px) {
    #p3 { font-size: 2rem; }
}
@media (min-width: 900px) {
    #p3 { font-size:3rem; }
}
@media (min-width: 1050px) {
    #p3 { font-size: 3.75rem;}
}
@media (min-width: 1200px) {
    #p3 { font-size: 3.75rem;}
}

/*row2*/

#row2{
	top:190px;
	left:30px;
	right:30px;
	background-color:white;
	height:340px;
	border: black 1px;
	margin-bottom:30px;
}

#caption{
	position:absolute;
	top:10px;
	right:10px;
	left:10px;
	color:#FC6A03;
	background-color:#2b2d2f;
	font-weight:bolder;
	padding:15px;
	margin:0;
	font-size:150%;
	
}

table{
	position:relative;
	top:85px;
	width:100%;
	border-collapse:collapse;
	color:black;
	text-align:center;
	font-size:80%;
	border:1px;
	border-color:black;
}
td{
	height:30px;
}



